<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adding new Services</h1>
    <form action="/service" method="post">
        <label>Enter Service Name:</label>
        <br>
        <input type="text" id="serviceName" name="serviceName" placeholder="Service Name">
        <br>
        <label>Enter Service Cost:</label>
        <br>
        <input type="text" id="serviceCost" name="serviceCost" placeholder="Service Cost">
        <br>
        <label>Service Duration:</label>
        <br>
        <input type="text" id="serviceTime" name="serviceTime" placeholder="Service Time">
        <br>
        <button type="submit">Add the Service</button>
    </form>
</body>
</html>